body {
  margin: 0;
}
.container {
  display: block;
  margin: 200px auto;
  max-width: 600px;
  background-color: white;
}
#poem-topic {
  width: 515px;
  height: 40px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  background-color: aliceblue;
  padding-left: 10px;
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1);
}
.submit-button {
  border-radius: 5px;
  border: none;
  font-size: 16px;
  background-color: aliceblue;
  height: 40px;
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1);
}
.poetry-text {
  line-height: 30px;
  margin-top: 40px;
  font-family: "Caveat", cursive;
  background-color: aliceblue;
  border-left: 10px solid rgb(14, 55, 192);
  padding-left: 10px;
}
footer {
  color: gray;
}
